*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #9A4376, #C54577);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    margin:auto;
    background-color: white;
    width: 400px;
    height: 600px;
}

.register-form h2 {
    text-align: center;
}

