*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #9A4376, #C54577);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    margin:auto;
    background-color: white;
    width: auto;
    height: auto;
    padding: 4rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-form h2 {
    text-align: center;
}

.form-group-name ,.form-group-dateGender,.form-group-contact{
    display: flex;
    /* flex: 1 1 50%; */
    flex-direction: row;
    gap: 1em;
}

